{% extends 'base.html'%}
 
{%block title%} GovnoChat {%endblock%}
{%block buttons%}
<div class="text-end">
  <a href='/login'' class="btn btn-outline-light me-2">Login</a>
  <a href='/signup' class="btn btn-warning">Sign-up</a>
  {%block logout%}{%endblock%}
</div>
{%endblock%}
{%block body%} 

<div class="px-4 py-5 my-5 text-center" style="background-color: white;  border-radius: 10px;  margin-right: auto; margin-left: auto; width: 800px; ">
    <img class="d-block mx-auto mb-4" src="/static/images/png-transparent-computer-icons-conversation-online-chat-share-miscellaneous-blue-text.png" alt="" width="150" height="150">
    <h1 class="display-5 fw-bold">GovnoChat</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Добро пожаловать на нахуй никому не нужный чат, который должен был быть мессенджером. Охуенно блять</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href='/reg' class="btn btn-primary btn-lg px-4 gap-3">Зарегаться</a>

      </div>
    </div>
  </div>

{%endblock%}